@using TwilioSdkStarterDotnetCore.Web.Models
@model TwilioSdkStarterDotnetCore.Web.Models.TwilioAccount
@{
    ViewData["Title"] = "Twilio Sdk Starter Kit";
    ViewData["NotConfiguredMessage"] = "Not configured in appsettings.json or secrets.json";
}

@section Styles{
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u">
    <link href="~/css/home.css" rel="stylesheet" />
}
<h1>Twilio Server Starter Kit Environment Setup</h1>
<p class="alert alert-danger">Never publicly show your credentials. This is purely to confirm correct setup.</p>
<h2>Account Information</h2>
<table class="table table-striped">
    <tr>
        <td class="config-key">AccountSid</td>
        <td class="config-value @(string.IsNullOrEmpty(Model.AccountSid) ? "unset" : "set")" id="twilioAccountSid">
            @(string.IsNullOrEmpty(Model.AccountSid) ? ViewData["NotConfiguredMessage"] : Model.AccountSid)
        </td>
    </tr>
    <tr>
        <td class="config-key">ApiKey</td>
        <td class="config-value @(string.IsNullOrEmpty(Model.ApiKey) ? "unset" : "set")" id="twilioApiKey">
            @(string.IsNullOrEmpty(Model.ApiKey) ? ViewData["NotConfiguredMessage"] : Model.ApiKey)
        </td>
    </tr>
    <tr>
        <td class="config-key">ApiSecret</td>
        <td class="config-value @(string.IsNullOrEmpty(Model.ApiSecret) ? "unset" : "set")" id="twilioApiSecret">
            @(string.IsNullOrEmpty(Model.ApiSecret) ? ViewData["NotConfiguredMessage"] : "Configured properly")
        </td>
    </tr>
</table>
<h2>Products</h2>
<table class="table table-striped">
    <tr>
        <td class="config-product">Notify</td>
        <td class="config-key">NotificationServiceSid</td>
        <td class="config-value @(string.IsNullOrEmpty(Model.NotificationServiceSid) ? "unset" : "set")" id="twilioNotificationServiceSid">
            @(string.IsNullOrEmpty(Model.NotificationServiceSid) ? ViewData["NotConfiguredMessage"] : Model.NotificationServiceSid)
        </td>
    </tr>
    <tr>
        <td class="config-product">Chat</td>
        <td class="config-key">ChatServiceSid</td>
        <td class="config-value @(string.IsNullOrEmpty(Model.ChatServiceSid) ? "unset" : "set")" id="twilioChatServiceSid">
            @(string.IsNullOrEmpty(Model.ChatServiceSid) ? ViewData["NotConfiguredMessage"] : Model.ChatServiceSid)
        </td>
    </tr>
    <tr>
        <td class="config-product">Sync</td>
        <td class="config-key">SyncServiceSid</td>
        <td class="config-value set" id="twilioSyncServiceSid">
            @(string.IsNullOrEmpty(Model.SyncServiceSid) ? "default" : Model.SyncServiceSid)
        </td>
    </tr>
</table>
<h1>Demos</h1>

<a class="btn btn-lg btn-success" id="videoDemoButton" asp-controller="Video" asp-action="Index">Video</a>
<a class="btn btn-lg btn-warning" id="syncDemoButton" asp-controller="Sync" asp-action="Index">Sync</a>
<a class="btn btn-lg btn-danger" id="notifyDemoButton"asp-controller="Notify" asp-action="Index">Notify</a>
<a class="btn btn-lg btn-info" id="chatDemoButton" asp-controller="Chat" asp-action="Index">Chat</a>



@section Scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script crossorigin="anonymous"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
    //
}

